<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso, segue abaixo mais detalhes:</p>
<p>
  <strong>Plano: </strong> {{ plan }}<br />
  <strong>Data de término: </strong> {{ end_date }}<br />
  <strong>Valor: </strong> {{ price }}<br />
  <br />
</p>
<p>Seja bem vindo e esperamos que aproveite bem!!</p>
